<?xml version="1.0" ?>
<robot name="realsense2_camera">
  <material name="aluminum">
    <color rgba="0.5 0.5 0.5 1"/>
  </material>
  <material name="plastic">
    <color rgba="0.1 0.1 0.1 1"/>
  </material>
  <!-- this specific plug does not apply to L515 -->
  <link name="base_link"/>
  <!-- camera body, with origin at bottom screw mount -->
  <joint name="camera_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="base_link"/>
    <child link="camera_bottom_screw_frame"/>
  </joint>
  <link name="camera_bottom_screw_frame"/>
  <joint name="camera_link_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.007500000000000001 0.0 0.021150000000000002"/>
    <parent link="camera_bottom_screw_frame"/>
    <child link="camera_link"/>
  </joint>
  <link name="camera_link">
    <visual>
      <origin rpy="1.5707963267948966 0 1.5707963267948966" xyz="0.0045 0 0.009000000000000001"/>
      <geometry>
        <mesh filename="file:///ws/install/realsense2_description/share/realsense2_description/meshes/l515.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="1.5707963267948966 0 1.5707963267948966" xyz="-0.0085 0 0.009000000000000001"/>
      <geometry>
        <cylinder length="0.026" radius="0.0305"/>
      </geometry>
    </collision>
    <inertial>
      <!-- The following are not reliable values, and should not be used for modeling -->
      <!-- calculated assuming full cylinder as described here: https://en.wikipedia.org/wiki/List_of_moments_of_inertia -->
      <mass value="0.095"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.000044" ixy="0.0" ixz="0.0" iyy="0.000027" iyz="0.0" izz="0.000027"/>
    </inertial>
  </link>
  <joint name="camera_lower_mount_joint" type="fixed">
    <origin rpy="0 0 0" xyz="-0.013999999999999999 0 0.01015"/>
    <parent link="camera_bottom_screw_frame"/>
    <child link="camera_lower_mount"/>
  </joint>
  <link name="camera_lower_mount"/>
  <joint name="camera_upper_mount_joint" type="fixed">
    <origin rpy="0 0 0" xyz="-0.013999999999999999 0 0.05015"/>
    <parent link="camera_bottom_screw_frame"/>
    <child link="camera_upper_mount"/>
  </joint>
  <link name="camera_upper_mount"/>
</robot>
